<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enroute"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />
        
        <!--  Search Activity -->
        <activity
            android:name="com.example.enroute.SearchActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  Results Activity -->
        <activity
            android:name="com.example.enroute.ListResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName="com.example.enroute.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.enroute.MainActivity" />
        </activity>
        
        <!--  Map Activity -->
        <activity
            android:name="com.example.enroute.MapResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName="com.example.enroute.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.enroute.MainActivity" />
        </activity>
        
    </application>

</manifest>